<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL Client</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="../assets/css/common.css">-->
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="container">
            <header>
                <div class="logo">
                    <div class="logo__text">SQL Client</div>
                </div>
            </header>
            <form class="button" action="/" method="post">
                <div class="input-request">
                    <textarea class="input-request__field form-control" name="sqlRequest"
                              th:text="${query != null ? query : ''}"></textarea>
                </div>
                <button class="btn btn-secondary button__request">Run</button>
            </form>
            <div class="result">
                <div th:if="${columnNames != null}">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" th:each="columnName : ${columnNames}" th:text="${columnName}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="columnValueList : ${columnValueLists}">
                            <tr>
                                <td th:each="columnValue : ${columnValueList}" th:text="${columnValue}"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>
                <div th:if="${columnNames == null}">
                    <div th:text="${systemInfo}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>